@{
    ViewData["Title"] = "Home Page";
}

<form method="post">

    <div>
        <li><input type="text" name="Nombre" placeholder="ingrese nombre" /></li>
        <li><input type="text" name="Apellido" placeholder="ingrese Apellido" /></li>
        <li><input type="text" name="Telefono" placeholder="ingrese Telefono" /></li>
        <li><input  type="text" name="Descripcion" placeholder="ingrese Descripcion" /></li>
    </div>
    <div>
        <button type="submit" class="btn-group">Guardar</button>
    </div>
    <div>
        <h3>@ViewBag.Mensaje</h3>

    </div>
</form>
