@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div>
        <li><input type="text" id="nombre" value="ingrese nombre" /></li>
        <li><input type="text" id="Apellido" value="ingrese Apellido" /></li>
        <li><input type="text" id="telefono" value="ingrese Telefono" /></li>
        <li><input  type="text" id="Descripcion" value="ingrese Descripcion" /></li>
    </div>
</div>
